In [1]:
# Import libraries 

import pandas as pd
import os

In [3]:
cd Challenge Files

C:\Users\Mehab Men Neter\Documents\Analytics\Analysis Project Folder\M16 - Big Data\Challenge Files

In [4]:
# Read in customer reviews csv
df = pd.read_csv("vine_table.csv")

In [5]:
df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3FU16928EP5TC,5,0,0,N,Y
1,R1IZHHS1MH3AQ4,5,0,0,N,Y
2,R52R85WC6TIAH,4,17,18,N,Y
3,R7HOOYTVIB0DS,5,0,0,N,Y
4,R1XQ2N5CDOZGNX,5,0,0,N,Y
...,...,...,...,...,...,...
4057142,R2IIS5TXN8GRXV,5,0,0,N,Y
4057143,R3OV7DY866DJ49,5,0,0,N,N
4057144,R2QNO9SU91D2G7,4,0,0,N,N
4057145,R1CIWZICUMFQZE,3,0,0,N,N
4057146,R1VPX5BT0CQM7E,2,0,1,N,Y

In [6]:
# Create a DataFrame where there are 20 or more total votes
vote_plus20_df = df[df.total_votes>20]
vote_plus20_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
364,R1CY3APKBOVUYU,1,9,33,N,Y
1160,R2LTI28AN2281A,1,0,22,N,Y
3110,R3PENXZQNYN29L,1,1,26,N,Y
3599,R2P8B83Q61L4HS,1,0,22,N,Y
3730,RZM83AGJAUZMA,1,32,41,N,Y
...,...,...,...,...,...,...
4057069,R1IZ2G3RL5LIV1,1,14,46,N,N
4057075,RSKQFZAZHK8I4,1,5,49,N,N
4057076,R1C0CLX78K0NSC,1,0,41,N,N
4057082,R3107KLWHVE9SR,1,17,23,N,N
4057100,R246Y5DZU2WUUH,1,8,25,N,N

In [7]:
# Create a DataFrame where the percentage of 'helpful_votes' is equal to or greater than 50%

helpful_votes_df = vote_plus20_df[(vote_plus20_df.helpful_votes/df.total_votes)>=0.5]
helpful_votes_df

C:\Users\Mehab Men Neter\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3730,RZM83AGJAUZMA,1,32,41,N,Y
4897,R12MYB9QM2YN8B,1,19,23,N,N
5420,RGCY6WG37F810,4,24,27,N,N
6647,R2UH0VN09DDQLA,3,23,30,N,N
7032,R1E4W9ROP10WT3,5,19,22,N,N
...,...,...,...,...,...,...
4057005,R34544Y99S2R1H,3,17,24,N,Y
4057045,R2CO2G4Q71UV4Z,1,45,77,N,Y
4057059,R1O6KPNI68DYLH,1,46,74,N,N
4057060,R1VNU40KOJR1RV,5,26,36,N,N
4057082,R3107KLWHVE9SR,1,17,23,N,N

In [8]:
# Filter data to create a DataFrame where there is a Vine review

vine_reviews_df = helpful_votes_df[helpful_votes_df.verified_purchase == 'Y']
vine_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3730,RZM83AGJAUZMA,1,32,41,N,Y
9767,REMDS9V4J58OR,4,25,29,N,Y
10325,R2ISFKK57JF02V,5,25,26,N,Y
13393,R3D8LNOI6ZPOFY,5,68,72,N,Y
18794,RVR6HYB370XXD,4,110,112,N,Y
...,...,...,...,...,...,...
4056876,R3GJRCJ6FGIPCH,3,16,25,N,Y
4056930,R281LFNFQB8OY4,5,24,34,N,Y
4056939,R2CM1RLUY2HFBN,2,15,25,N,Y
4057005,R34544Y99S2R1H,3,17,24,N,Y
4057045,R2CO2G4Q71UV4Z,1,45,77,N,Y

In [9]:
# Filter data to create a DataFrame where there is not a Vine review

non_vine_reviews_df = helpful_votes_df[helpful_votes_df.verified_purchase == 'N']
non_vine_reviews_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4897,R12MYB9QM2YN8B,1,19,23,N,N
5420,RGCY6WG37F810,4,24,27,N,N
6647,R2UH0VN09DDQLA,3,23,30,N,N
7032,R1E4W9ROP10WT3,5,19,22,N,N
7918,RF2BLXZTUOL0M,5,23,27,N,N
...,...,...,...,...,...,...
4056968,RKRVOLCCCDYF8,1,22,31,N,N
4057002,R2M5TVJBKDJ5C3,1,24,27,N,N
4057059,R1O6KPNI68DYLH,1,46,74,N,N
4057060,R1VNU40KOJR1RV,5,26,36,N,N
4057082,R3107KLWHVE9SR,1,17,23,N,N

In [53]:
# Determine the total 5-star Vine reviews

vine_reviews_df['star_rating'].value_counts()[5]

2582

In [54]:
# Determine the total 5-star non-Vine reviews

non_vine_reviews_df['star_rating'].value_counts()[5]

1791

In [41]:
# Determine the percentage of 5-star Vine reviews

percent_vine_reviews = (vine_reviews_df['star_rating'].value_counts()[5]/vine_reviews_df["review_id"].count())*100
percent_vine_reviews

43.919033849294095

In [51]:
# Determine the percentage of 5-star non-Vine reviews

percent_nonvine_reviews = (non_vine_reviews_df['star_rating'].value_counts()[5]/non_vine_reviews_df["review_id"].count())*100
percent_nonvine_reviews

38.61578266494178

In [14]:
# Determine the number of total customer reviews

total_reviews = helpful_votes_df["review_id"].count()
total_reviews

10517

In [36]:
# Determine the total number of 5-star reviews
five_stars = helpful_votes_df['star_rating'].value_counts()[5]
five_stars

4373